<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPolytweetService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5634/PolytweetService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPolytweetService"
        contract="PolytweetServiceClient.IPolytweetService" name="BasicHttpBinding_IPolytweetService" />
    </client>
  </system.serviceModel>
</configuration>